nav.bg-dark {
    background-color: black !important;
}

ul.navbar-nav li a {
    font-size: 1.2rem;
    margin-right: 18px;
}

.navbar-brand {
    font-size: 2rem;
}

nav p {
    color:white;
    font-size: 1.2rem;
}

.cart-icon {
    color: white;
    margin-right: 10px;
}